bin
include
db
dbd
*_BAK.adl
documentation.html
cdCommands*
dllPath*
auto_settings.sav*
configure/*.local
O.*/
*~
*.swp
.project
.settings
.cproject
external/
venv_epics_test/
test/=7
.tags
.vscode/c_cpp_properties.json
.vscode
*/*.html
core
envPaths*
__pycache__
